@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10vh;
    height: 100vh;
}

.container {
    height: 50vh;
    width: 40vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.box {
    border: 1px solid black;
}

.box:nth-child(1), .box:nth-child(2), .box:nth-child(3) {
    border-top: none;
}

.box:nth-child(n+7) {
    border-bottom: none;
}

.box:nth-child(3n+1) {
    border-left: none;
}

.box:nth-child(3n) {
    border-right: none;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    height: 120px;
}

.modal {
    --gap: 15px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--gap);
    background-color: rgba(0,0,0,0.5);
}

.modal-inner {
    background-color: #fff;
    width: 100%;
    max-width: 800px;
    overflow: hidden;
    border-radius: 1.5rem;
}

.modal-top {
    display: flex;
    align-items: center;
    background-color: blueviolet;
    justify-content: center;
    height: 10vh;
    
}

.modal-title {
    /* flex-grow: 1; */
    padding: 0 var(--gap);
    font-size: 32px;
    color: #fff;
}

.modal-close {
    display: flex;
    align-items: center;
    cursor: pointer;
    /* padding: var(--gap); */
    /* background: none; */
    /* border: none; */
    outline: none;
    height: 2.5rem;
    width: 10rem;
}

.modal-content {
    padding: var(--gap);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--gap)
}

.remove-modal {
    display: none;
}

.modal-close p, .modal-close span {
    flex-grow: 1;
    font-size: 20px;
}